/alternatereverse.exe
/APseries.exe
/armstrong.exe
/arraysintro.exe
/BinaryToDecimal.exe
/calculator.exe
/DecimalToBinary.exe
/duplicate_elements.exe
/factorial.exe
/fibonacci.exe
/first.exe
/first_repeating.exe
/functions.exe
/intersection_sorted.exe
/isPrime.exe
/kadane_algo.exe
/large_factorial.exe
/linearsearch.exe
/maxmin.exe
/min_swaps.exe
/non_repeatingelement.exe
/palindrome.exe
/palindrome_array.exe
/practice.exe
/reversearray.exe
/reversenum.exe
/rotateby1.exe
/selection_sort.exe
/setbits.exe
/sort_012.exe
/sumofarrays.exe
/switch.exe
/triplet_sum.exe
/two_pair_sum.exe
/unionarray.exe
/unique_occurence.exe